.hidden {
    display: none!important;
}

th, td {
    text-align: center;
    width: 100px;
    padding: 5px
}

.root {
    display: flex;
    padding: 10px;
    border: 1px solid gray;
    flex-direction: column;
    margin-bottom: 30px;
    overflow: auto;
    max-width: 100%;
    width: fit-content;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
}

.row div {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    flex-shrink: 0;
}

#init .row div {
    cursor: pointer;
}

.row div.active {
    background: green;
}

#init .row div:hover {
    border-color: green;
}