.hidden {
    display: none!important;
}

th, td {
    text-align: center;
    width: 100px;
    padding: 5px
}

.root {
    display: flex;
    padding: 10px;
    border: 1px solid gray;
    flex-direction: column;
    margin-bottom: 30px;
    overflow: auto;
    max-width: 100%;
    width: fit-content;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
}

.row div {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    flex-shrink: 0;
}

#init .row div {
    cursor: pointer;
}

.row div.active {
    background: green;
}

#init .row div:hover {
    border-color: green;
}

button {
    margin-bottom: 20px;
}

.field {
    position: relative;

    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(#c7c7c7 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(to right, #c7c7c7 1.4000000000000001px, #e5e5f7 1.4000000000000001px);
    background-size: 20px 20px;
}

.field div {
    position: absolute;
    width: 20px;
    height: 20px;
    background: green;
}